includeConfig 'conf/modules.config'
nextflow.enable.dsl = 2

profiles {
    standard {
        docker.enabled = true
        singularity.enabled = false
        conda.enabled = false
    }
    docker {
        docker.enabled = true
        singularity.enabled = false
        conda.enabled = false
    }
    singularity {
        singularity.enabled = true
        docker.enabled = false
        conda.enabled = false
        singularity.cacheDir = "$SINGULARITY_CACHEDIR"
        singularity.envWhitelist = ['SINGULARITY_TMPDIR']
        singularity.runOptions = '-B $SINGULARITY_TMPDIR:/tmp'
    }
}

params {
    readQuality {
        minQualityPhred = 15
        minLength = 300
        maxLength = 6000
    }
}

dag {
    direction = 'LR'
}

docker.registry = 'quay.io'
singularity.registry = 'quay.io'