process {
    withName: nanoplot {
        ext.args = "--tsv_stats"
    }
    withName: PORECHOP_PORECHOP {
        publishDir = [
            path: { "${params.outdir}/porechop/${meta.id}" },
            mode: 'copy',
            enabled: true
        ]
    }
    withName: porechop_custom_adapters {
        publishDir = [
            path: { "${params.outdir}/porechop_custom_adapters/${meta.id}" },
            mode: 'copy'
        ]
        ext.prefix = {"${meta.id}-trim-primer"}
    }
}